[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://danieldk@github.com/danieldk/TaskList.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/danieldk/vim-colors-solarized.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-taskwarrior"]
	path = .vim/bundle/vim-taskwarrior
	url = https://github.com/farseer90718/vim-taskwarrior
