[user]
	name = Daniël de Kok
	email = me@danieldk.eu
[gui]
[color]
	ui = auto
[advice]
	statusHints = false
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  gg = grep --break --heading -n
[push]
	default = simple
