[user]
	name = Daniël de Kok
	email = me@danieldk.eu
[core]
  editor = vim
[gui]
[color]
	ui = auto
[advice]
	statusHints = false
[diff]
	renames = copies
[merge]
	stat = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  gg = grep --break --heading -n
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
